<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>El día luce genial, listo para reciclar</h1>
<%= image_tag('medio.jpg') %>
<%= image_tag('medioambiente.jpg') %>
<%= image_tag('am.jpg') %>
<div>
    <%= link_to 'Experimenta', welcome_new_path, class: 'btn btn-primary pull-right' %>
</div>
</body>
</html>
