<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>El día luce genial, listo para reciclar</h1>
<div>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">twittear</button>
  
    <%= link_to 'welcome_twitter', welcome_new_path, class: 'alert-link' %>
  </div>
</body>
</html>
