<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Gracias por ayudarnos a conservar nuestro medio ambiente!!!!!! :))</h1>
<h1>Gracias Por ser una persona responsable!!!!!! :))</h1>
<h1>Que todo mundo sepa que estas reciclandoooooooooooo </h1>
<h1>.... y ahora que todos tus amigos en redes sociales se enteren</h1>
<h1>Estas Preparado para ser Parte de esta experiencia? </h1>
<h1>Hey Let's go, taking a Selfie</h1>
<div>
  
</div>
<%= audio_tag('selfie.mp3', autoplay: true, controls: true) %>
<div>
 <%= link_to 'Experimenta', welcome_update_path, class: 'btn btn-primary pull-right' %>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div style="margin-left: 150px;"><%= image_tag('equipo.jpg') %></div>
</div>
</body>
</html>
