<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Estas Preparado para ser Parte de esta experiencia? </h1>
<h1>Hey Let's go, taking a Selfie</h1>
<div>
  
</div>
<%= audio_tag('selfie.mp3', autoplay: true, controls: true) %>

<div>
    <%= link_to 'Experimenta', welcome_update_path, class: 'btn btn-primary pull-right' %>
</div>
</body>
</html>
